doctype html
html
    head
        meta(charset='utf-8')
    body
        form(action='/topic' method='post')
        p
        input(type='text' name='title' placeholder='title')
        p
        textarea(name='description')
        p
        input(type='submit')
