<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= apptitle %>
    </title>
</head>

<body>
    <h1>
        <%= apptitle %>
    </h1>
    <h2>
        <%= apptitle %>
    </h2>

</body>

</html>