/* Custom Stylesheet */

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.nav-photo {
    width: 200px;
    height: 100px;
    object-fit: cover;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.login {
    margin-left: 50px;
}

.center-text-include-a {
    text-align: center;
    vertical-align: middle;
}

.center-text-include-a > a:hover {
    text-decoration-line: underline;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.separator {
    border-top: 1px solid #D8D8D8;
    margin-top: 10px;
    padding-top: 10px;
}

.bank_balance_separator {
    border-top: 1px solid #D8D8D8;
    background: #6f359e;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    color: white;
    font-weight: 900;
    font-size: 20px;
}

.side-nav > a:hover {
    background: none;
}

.loader-parent {
    visibility: collapse;
    top: -200px;
    position: relative;
}

.card .card-custom-bottom {
    color: orange;
    padding-left: 24px;
}

.card > .card-custom-bottom:hover {
    color: darkorange;
}

.center-big-icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
    font-size: 50px;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto
}

#load {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.8;
    background: white;
    z-index: 99;
    text-align: center;
}

#load > img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
    z-index: 100;
}

.custom-divider {
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.custom-item-divider {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: black;
    margin-bottom: 0px;
}

.border-bottom {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: black;
    margin-bottom: 0px;
}

.custom-divider p {
    color: aliceblue;
}

.total-row {
    margin-top: 16px;
}

.total {
    padding-right: 16px;
    text-align:right;
    vertical-align: middle;
}

.total-multiline {
    padding-left: 32px;
}

.addline-button {
    margin-right: 9px;
}

#custom-logo-container {
    margin-left: auto;
    margin-right: auto;
}

.custom-icon {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.btn.btn-red {
    background-color: red
}

.btn.btn-red:focus {
    background-color: red
}

.waves-effect.waves-brown .waves-ripple {
    /* The alpha value allows the text and background color
   of the button to still show through. */
    background-color: rgba(121, 85, 72, 0.65);
}

.short-input-field-inline {
    width: 30%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}
